@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
    background-color: lightgray;
}

.blog-header-logo{
    /*font-family: 'Open Sans', sans-serif !important;*/
    font-family: 'Julius Sans One', sans-serif;
}

.jumbotron-home{
    background: url('../images/Landing.jpg') no-repeat center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}