
<div class="jumbotron p-1 p-md-3 text-black rounded jumbotron-home">
	<div class="col-md-6 px-0">
		<h1 class="display-3">Welcome!!</h1>
		<h3 class="display-6 font-italic">v 0.7-beta</h3>
		<p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dictum orci. Nullam feugiat erat vel mi venenatis volutpat. Cras quam felis, convallis ut purus vitae, dapibus blandit urna.</p>
	</div>
</div>
