{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/blog.css') }}" />
	<link rel="stylesheet" href="{{ asset('build/general.css') }}" />
{% endblock %}

{% block title %}FC - About Me{% endblock %}

{% block body %}
    <div class="container">
      
      {{ include('_header.html.twig') }}

      {{ include('_menu-top.html.twig') }}
      
      {{ include('_jumbotron-about.html.twig') }}

      {# include('_block-apis.html.twig') #}
      
    </div>
    
    {# SECTION --main-content #}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            About me
          </h3>
        
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum odio purus, placerat vel augue sit amet, efficitur dictum ligula. Aenean lacus arcu, tincidunt in gravida eu, vehicula eu lectus. Aliquam erat volutpat. Donec gravida hendrerit neque, id malesuada purus iaculis eu. Fusce a convallis tellus. Pellentesque mattis est id purus eleifend consectetur. Vivamus consequat eu nisi at dapibus. Aliquam fermentum tortor augue, at rhoncus arcu vestibulum vitae. Aenean sagittis, metus eget convallis finibus, magna nulla ultrices arcu, auctor aliquet ex dolor a metus. Aenean eget nibh vitae nisi vulputate fermentum. Sed varius varius odio non ullamcorper. Aliquam quam felis, fringilla id nulla in, blandit scelerisque turpis.
          </p>
          <p>
            Pellentesque malesuada nec tortor tincidunt mollis. Sed ornare at massa eget dictum. Nullam sapien mauris, luctus sit amet sagittis at, lobortis vel nisl. Donec aliquet feugiat eros, vitae malesuada leo facilisis non. Donec eget magna turpis. Aliquam rutrum neque eget tortor imperdiet, id gravida tortor malesuada. Duis a augue turpis. Nullam id blandit sapien. Donec luctus condimentum diam. Vivamus non nulla ac eros accumsan hendrerit nec ut lectus. Integer commodo dolor a commodo posuere.
          </p>
          <p>
            Vestibulum cursus nisl risus, non porta augue maximus vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce in sem laoreet, aliquet nisi at, maximus ligula. Sed fermentum porttitor accumsan. Maecenas egestas placerat dolor, gravida euismod justo placerat ac. Aliquam lobortis ultrices aliquam. Vestibulum sed finibus odio. Aliquam ac auctor felis.
          </p>
        

        </div><!-- /.blog-main -->

        <div class="col-lg-4">
            {{ include('_sidebar.html.twig') }}
        </div>
        
      </div><!-- /.row -->

    </main><!-- /.container -->

    {# SECTION --end #}

    {{ include('_footer.html.twig') }}

{% endblock %}
